:root {
    --clr-primary: #0d6673;
    --clr-secondary: #2f4858;
    --clr-links1: #00e2b9;
    --clr-highlight: #eebe43;
    --clr-link-hover: #fff8e6;
}

html {
    box-sizing: border-box;
    height: 100%;
    background-color: rgb(33, 33, 33);
}

* {
    box-sizing: inherit;
}

body {
    /* background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
        url(images/plains1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center; */

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding:3em 1em 1em 1em; */
    font-family: "Ubuntu", sans-serif;
    letter-spacing: 0.05em;
    color: white;
    /* overflow: hidden; */
}

body.display {
    overflow:hidden;
}



a {
    margin: 0;
    padding: 0;
    user-select: none;
    color: aquamarine;
    /* font-size: 1.4rem; */
    transition: 0.25s;
}

p a {
    /* font-size: 1rem; */
    text-decoration: none;
    color: var(--clr-links1);
}

p a:hover {
    color: var(--clr-link-hover);
}

p {
    /* margin: .5em 2em; */
    line-height: 1.2rem;

    /* text-shadow: 0px 0px 10px  rgb(20, 20, 20); */
    margin: 0.25em;
}

h3 {
    user-select: none;
    margin: 1em 0 0 1em;
}

span {
    color: var(--clr-highlight);
}

input {
    margin: 0 0 0 0.25em;
}

hr {
    margin: 0 0 0.5em;
    opacity: 0.25;
}

/* 
                                                        HEADER
 ----------------------------------------------------/////////// */

header {
    width: 100%;
    /* position: fixed; */
    z-index: 997;
    top: 0;
    display: flex;
    flex-direction: column;
}

.info-wrap {
    background: var(--clr-primary);
    padding: 1em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px black;
    position:relative;
}

.info-wrap a {
    text-decoration: none;
}
.info-wrap a:hover {
    color: var(--clr-link-hover);
}

#reset,
#generate {
    width: auto;
    padding: 0.75em;
    border: solid white 2px;
    border-radius: 999px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    user-select: none;
    margin-right: 4em;
    animation: glow 2s linear infinite;
    margin-right: 2em;
}

#reset:hover,
#generate:hover {
    background: var(--clr-highlight);
    border: solid var(--clr-primary) 2px;

    animation: none;

    color: var(--clr-secondary);
}

#reset:active,
#generate:active {
    background-color: white;

    transform: translateY(4px);
}

#reset {
    display: none;
}

#reset.display {
    display: flex;
}

.removed {
    font-style: italic;
    user-select: none;
    background: var(--clr-secondary);
    width: 300px;
    height:100%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.74);
    position:absolute;
    left:-300px;
    transition: .5s;
    z-index:999;
   
    
   
}

.removed.display {
    display:flex;
    flex-direction:column;
    left:0;
    z-index:999;
}

/*                                                        MAIN CONTENT
    ---------------------------------------------------- //////////////  */

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)); */
    justify-content: space-evenly;
    /* margin: 6em 0 0 0; */
    color: white;
    /* position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1; */
    /* padding: 2em; */
    /* opacity: 0; */
    transition: 0.5s;
    /* min-height: 750px; */
    height: 100%;
    width: 100%;
}

.container p {
    /* width:25%; */
    min-width: 200px;
    /* min-width:250px; */
    margin: 0.5em 1em;
    font-size: 0.8rem;
}

#team1.display,
#team2.display,
#team3.display,
#team4.display {
    display: flex;
}

#generate.hide {
    display: none;
}

#team1,
#team2,
#team3,
#team4 {
    color: white;
    display: none;
    text-decoration: underline;
    justify-content: flex-start;
}

.wrap {
    background: rgba(14, 14, 14, 0.76);
    /* box-shadow: 0 2px 15px black; */
    /* border-radius: 10px; */
    opacity: 0;
    /* min-height: 750px;
    max-height: 770px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow: scroll; */
    /* overflow-x: hidden; */
    width: 100%;
    /* height: 100%; */
    /* padding: 2em; */
}

.buttonAndContentWrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap-wrap {
    background: rgba(0, 0, 0, 0.925);
    border-radius: 0 10px 10px 10px;
    max-height: 725px;
    overflow: hidden;
    padding: 0.5em 1em 0 1em;
    /* overflow-x: hidden;
    overflow-y: hidden; */
    box-shadow: 0px 0px 10px #4d4d4d79;
    /* box-shadow: inset 0px 0px 15px #242424; */
    position: relative;
    display: flex;
    z-index: 1;
    width: 1000px;
    /* max-width: 1000px; */
}
/* 
.darken {
    position: absolute;
    background: rgba(0, 0, 0, 0.95);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-align: center;
} */

.team1 {
    color: #c93434;
    /* display:flex;
    flex-direction: column; */
}

.team2 {
    color: #3983dd;
    /* display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    width:100%; */
}

.team3 {
    color: #d8a31a;
    /* display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    width:100%; */
    display: none;
}

.team4 {
    color: #009a52;
    /* display:flex;
    flex-direction: column;
    width:100%; */
    display: none;
}

.pack-wrap {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#copyButton {
    /* position: absolute;
    left: 0px;
    top: -10px;
    z-index: 999; */
    width: 200px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.459);
    background: var(--clr-primary);
    border: none;
    color: white;
    padding: 0.5em;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-bottom: 0.25em;

    /* border-radius: 999px; */
}

#copyButton:hover {
    box-shadow: inset 0px 0px 5px #e6e6e6;
}

@keyframes glow {
    0% {
        box-shadow: 2px 2px 10px var(--clr-highlight),
            -2px -2px 10px var(--clr-highlight);
    }

    50% {
        box-shadow: 2px 2px 10px rgba(145, 23, 201, 0.5),
            -2px -2px 10px rgba(145, 23, 201, 0.5);
    }
    100% {
        box-shadow: 2px 2px 10px var(--clr-highlight),
            -2px -2px 10px var(--clr-highlight);
    }
}

.checkboxes {
    margin-right: 2em;
    user-select: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#totalCards {
    margin: 0;
    /* outline: solid white 1px; */
    padding-top: 0.35em;
    display: none;
    /* this moves the text in line with the other elements in the same div */
    /* text-align: start; */
    /* position: absolute;
    right: 125px; */
}

.teams {
    margin: 0;
}

.numberOfTeams {
    display: block;
    margin: 0 0 0.25em 0;
    /* text-decoration: underline; */
    display: flex;
}

.checkbox-container {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* outline: solid white 1px; */
}

.label-wrap {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-right: 0.5em;
}

.buttonAndTeams-wrap {
    display: flex;
}

/* .darken {
    background: black;
    width: 100%;
  
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */

@media only screen and (max-width: 1440px) {
    body {
        overflow: unset;
        
    }

    /* this gets toggled in the javaScript with an event listener. by unsetting the height from 100%,
    the background image will cover the entire screen at this screen size. before there was a bar at the bottom */
    body.height-adjust {
        height: unset;
    }

    hr {
        margin: 1em 0 0 0;
    }

    .container {
        background: none;
        padding: 0;
        margin: 0;
        width: 100%;
        position: initial;
    }

    .wrap {
        background: rgba(15, 15, 15, 0.959);
        box-shadow: 0 2px 15px black;
        border-radius: 0px;
        width: 100%;
        overflow: unset;
        padding: 2em 1em;
        justify-content: flex-start;
        /* height: auto; */
    }

    .wrap-wrap {
        background: rgba(0, 0, 0, 0.849);
        border-radius: 0px;
        max-height: 100%;
        overflow: unset;
        padding: 1em;
        overflow-x: hidden;
        overflow-y: hidden;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.459);
        width: 100%;
        flex-direction: column;
    }

    .pack-wrap {
        justify-content: flex-start;
    }

    .container p {
        min-width: 225px;
        margin: 1em 0 0 1em;
    }
}

@media only screen and (min-height: 2000px) {
    .wrap {
        justify-content: flex-start;
        padding-top: 2em;
    }

    .container {
        height: 100%;
    }
}


#hamburger {
    width:40px;
    height:40px;
    position:absolute;
    padding:0;
    background:none;
    border:none;
    left:25px;

}

#inner-hamburger {
    width:40px;
    height:40px;
    position:absolute;
    padding:0;
    background:none;
    border:none;
    right:5px;
    
}


img {
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;
}

.middle-line {
    width:100%;
    height:5px;
    background:white;
    position:absolute;
    left:0;
    right:0;
    top:17px;
    
}

.middle-line::before {
    content:"";
    height:5px;
    background:white;
    position:absolute;
    top:10px;
    left:0;
    right:0;

}
.middle-line::after {
    content:"";
    height:5px;
    background:white;
    position:absolute;
    top:-10px;
    left:0;
    right:0;

}

.removed p {
    padding:1em;
}

.removed a {
    display:block;
}

.page-tint {
    position:absolute;
    background:rgba(33,33,33,.75);
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:997;
    /* display:none; */
    opacity:0;
    transition:.5s;
    
}

.page-tint.display {
    z-index:998;
    opacity:1;
}

.removed-wrap {
    margin-top:4em;
    /* outline:solid red 1px; */
    display:flex;
    padding-left:1em;
    flex-direction: column;
    
}

.removed-wrap h2 {
    margin: .5em 0 0 0;
    color: var(--clr-highlight)
}

.removed-wrap a {
    /* font-size:1.2rem; */
    margin-top:.25em;
    text-decoration: underline;
}

.cube-link {
    font-size:1.5rem;
    color:white;
    
}